@import 'base';
@import '~normalize.css/normalize';
@import "~bulma/sass/utilities/_all";
@import "~bulma/sass/grid/columns";

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.alert {
  padding: 6px;
  margin-bottom: 0;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: left;

  p.alert-content {
    margin: .4em;
    font-size: .9em;
  }

  p.alert-title {
    margin: .4em;
    font-weight: bold;
    font-size: 1em;
  }
}

.alert-error {
  color: $errTextColor;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.main-content-area {
  padding: 20px;
  text-align: center;
}

.page-title {
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.core-layout__viewport {
  padding-top: 4rem;
}

.route--active {
  font-weight: bold;
  text-decoration: underline;
}
